@charset "ISO-8859-1";

.backg {
/* 	background-color: black; */
	background-image: url('../img/turfiste.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.op {
	opacity: 0.95;
}

.ta {
	width: 300px;
}

.degrade{
	background:-webkit-linear-gradient(30deg, red, green);
}
.degradeLose{
	background:-webkit-linear-gradient(30deg, red, orange);
}
.degradeWon{
	background:-webkit-linear-gradient(30deg, green, orange);
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

.text-shadow{
	text-shadow: 2px 2px 4px #000000;
}
