<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Détails bankroll</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!--   <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" /> -->
  <link th:href="@{css/now-ui-dashboard.css?v=1.5.0}" rel="stylesheet" />
  <link th:href="@{css/style.css}" rel="stylesheet" />
  
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{demo/demo.css}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
                 <div th:replace="_components :: sidebar"></div>
  

    <div class="main-panel" id="main-panel">
<!--       Navbar -->
                 <div th:replace="_components :: navbar"></div>


      <div class="panel-header panel-header-sm">
      </div>
      <div class="content backg">
      
      
        <div class="row">
          <div class="col-md-12">
            <div class="card op" style="">
              <div class="card-header">
                <h4 class="card-title"  style="font-weight: bold; color: blue;">Détails bankroll</h4>
<a th:href="@{/add-combi-to-bankroll?id={id}(id=${id})}"><button class="btn btn-primary">Ajouter combi</button></a>    
</div>
              
              
              <div class="card-body">
 
 <div th:each="c:${combiList}">
<p>
  <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" th:data-target="${'#collapseExample'+c.id}"
 aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse show" th:id="${'collapseExample'+c.id}" style="padding-left: 40px; padding-right: 40px;">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead class="">
                    <tr>
                      <th>
                        N°
                      </th>
                      <th>
                        Date
                      </th>
                      <th>
                        Type
                      </th>
                      <th>
                        Sélection
                      </th>
                      <th>
                        Cote
                      </th>
                      <th>
                        Statut
                      </th>

                    </tr>
                    </thead>
                     <tfoot>
											<tr>
												<th>N°</th>
												<th>Date</th>
												<th>Type</th>
												<th>Sélection</th>
												<th>Cote</th>
												<th>Statut</th>
<!-- 												<th></th> -->
<!-- 												<th></th> -->
												
											</tr>
										</tfoot>
                    <tbody>
                                      <tr th:each="bet:${c.bets}">
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${betStat.index + 1}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${betStat.index + 1}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark" style="font-weight: bold;" th:text="${betStat.index + 1}"></td>

                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.date}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.date}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark" style="font-weight: bold;" th:text="${bet.date}"></td>
                                            
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.type.name}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.type.name}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark" style="font-weight: bold;" th:text="${bet.type.name}"></td>
                                            
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.selection}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.selection}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark" style="font-weight: bold;" th:text="${bet.selection}"></td>
                                            
                                            
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.odd}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.odd}"></td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark" style="font-weight: bold;" th:text="${bet.odd}"></td>
                                            
                                                                                        
                                            <td th:if="${bet.status.name == 'Gagnant'}" class="text-white btn-success" style="font-weight: bold;" th:text="${bet.status.name}"></td>
                                            <td th:if="${bet.status.name == 'Perdant'}" class="text-white btn-danger" style="font-weight: bold;" th:text="${bet.status.name}">Perdant</td>
                                            <td th:if="${bet.status.name == 'En attente'}" class="text-dark" style="font-weight: bold;" th:text="${bet.status.name}">En attente...</td>
                                       
<!--                                             <td> <a class="text-primary" th:href="@{'/edit-bet/'+${bet.id}}">Modifier</a></td> -->
<!--                                             <td> <a onclick="confirm('Etes vous sur de vouloir supprimer ce pari ?')" th:href="@{'/delete-bet/'+${bet.id}}">Supprimer</a></td> -->
                                       
                                       </tr>
                    </tbody>
                  </table>
                </div>




<!--   <div th:each="b:${c.bets}" class="card card-body" th:classappend ="${b.status.name == 'Gagnant'} ? 'text-white btn-success' : '' " th:style ="${b.status.name == 'Gagnant'} ? 'background-color: ' : '' "> -->
<!--     <div th:utext="b.name"> -->
    
<!--     </div> -->
<!--   </div> -->
</div> 
</div>
<!--  <div class="accordion" id="accordionExample"> -->
<!--   <div class="card"> -->
<!--     <div class="card-header" id="headingOne"> -->
<!--       <h2 class="mb-0"> -->
<!--         <button th:utext="hhhhhh" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> -->
<!--         </button> -->
<!--       </h2> -->
<!--     </div> -->

<!--     <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"> -->
<!--       <div class="card-body"> -->
<!--         Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class. -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
 
 
 
              </div>
            </div>
          </div>

        </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
                    <div th:replace="_components :: footer"></div>

    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="demo/demo.js"></script>
</body>

</html>