<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Détails bankroll</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{css/now-ui-dashboard.css?v=1.5.0}" rel="stylesheet" />
  <link th:href="@{css/style.css}" rel="stylesheet" />
  
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{demo/demo.css}" rel="stylesheet" />
  
  <link href="css/highchart-dashboard.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body class="">
  <div class="wrapper ">
                 <div th:replace="_components :: sidebar"></div>
  

    <div class="main-panel" id="main-panel">
<!--       Navbar -->
                 <div th:replace="_components :: navbar"></div>


    	<div class="panel-header panel-header-lg" style="">
				<canvas id="myChart"></canvas>
				<!-- <div class="highcharts-figure"> -->
				<!--   <div id="container"></div> -->
				<!--   <p class="highcharts-description"> -->
				<!--     This chart shows how data labels can be added to the data series. This -->
				<!--     can increase readability and comprehension for small datasets. -->
				<!--   </p> -->
				<!-- </div> -->
			</div>
			
      <div class="content backg">
      
      
        <div class="row">
          <div class="col-md-12">
            <div class="card op" style="">
              <div class="card-header">
                <h4 class="card-title"  style="font-weight: bold; color: blue; text-shadow: 1px 1px 2px #000000;">Détails bankroll: <span th:text="${ bankrollName}" class="text-danger"></span></h4>
<!-- <a th:href="@{/add-combi-to-bankroll?id={id}(id=${id})}"><button class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); -->
<!-- ">Ajouter combi</button></a>     -->

<!--                            <h1 th:text="${'Bankroll: ' + bankrollName}"></h1> -->



            <div th:if="${field} eq 'hippique'"  style="margin: 10px; padding: 10px; border: solid; width: 200px; background-color: yellow;">
<a th:href="@{/add-horse-racing-bet-to-bankroll?id={id}(id=${id})}"><button class="btn btn-success" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">Ajouter pari hippique</button></a>  
            </div>
            

            <div th:if="${field} eq 'sport'" style="margin: 10px; padding: 10px; border: solid; width: 200px; background-color: yellow;">
<a th:href="@{/add-sport-bet-to-bankroll?id={id}(id=${id})}"><button class="btn btn-success" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">Ajouter pari sportif</button></a> 
            </div>
            

            <div style="margin: 10px; padding: 10px; border: solid; width: 410px; background-color: yellow;">
<a th:href="@{/new-bankroll-details?id={id}(id=${id})}"><button class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
">Liste des paris classique</button></a> 

<a th:href="@{/new-bankroll-details-with-not-played?id={id}(id=${id})}"><button class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
">Liste des paris avec non-joués</button></a> 

<a th:if="${field} eq 'hippique'" th:href="@{/win-bankroll-details?id={id}(id=${id})}"><button class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">Liste des paris à la gagne</button></a> 
            </div>

            <div th:if="${field} eq 'hippique'"  style="margin: 10px; padding: 10px; border: solid; width: 420px; background-color: yellow;">
               <a th:href="@{/new-bankroll-details-simulation?id={id}(id=${id})}"><button class="btn btn-danger" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">Simulation gestion bankroll</button></a> 

<a th:href="@{/win-bankroll-simulation?id={id}(id=${id})}"><button class="btn btn-danger" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
">Simulation à la gagne</button></a>  
            </div>

             </div>

              <div class="card-body">
              
                            <div class="row">
<!--                             <div class="col-md-6"> -->
<!--                             <div th:if="${field} eq 'hippique'"  class="dropdown" style="margin: 10px; padding: 10px; background-color: gray; width: 400px"> -->
<!--                              <a class="btn btn-primary" type="button" th:href="@{/bet-list}"> -->
<!--                           Tous types de paris -->
<!--                </a> -->
<!--   <a><button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
<!--     Filtrer par type de pari -->
<!--   </button></a> -->
  
  
<!--   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
<!--    <div th:each="t : ${types}" > -->
<!--     <a class="dropdown-item" th:text="${t.name}" th:href="@{'/new-bankroll-details?type='+${t}+'&id='+${id}}"></a> -->

<!--    </div> -->
<!--   </div> -->
<!--                      </div> -->
<!--                      </div> -->
                     
                     <div class="col-md-6" style="margin: 10px; padding: 10px; border: solid;">
                     
                     						<form class="user" th:action="@{multi-filter-bet-list?id={id}(id=${id})}">
<!--                      						<form class="user" th:action="@{'multi-filter-bet-list/'+${id}}" method="GET"> -->


							<h3 class="text-dark" style="font-weight: bold;" th:text="'Bankroll N° ' + ${id}"></h3>

<!-- 							    <label class="text-dark" style="font-weight: bold;">Id bankroll</label> -->
								<input name="id" th:value="${id}" type="hidden"
									class="form-control form-control-user" id="" placeholder="">
									

							<div class="form-group">
								<label class="text-dark" style="font-weight: bold;">Type de pari:</label><br> 
								<select class="form-control form-control-user" name="type">
									<option value="">--Choisir--</option>

									<option th:each="t : ${types}" th:value="${t}"
										th:text="${t.name}"></option>
								</select>
							</div>
							
							<div class="form-group">
								<label class="text-dark" style="font-weight: bold;">Discipline:</label><br> 
								<select class="form-control form-control-user" name="discipline">
									<option value="">--Choisir--</option>

									<option th:each="d : ${disciplines}" th:value="${d}"
										th:text="${d.name}"></option>
								</select>
							</div>

<!-- 							<div class="form-group"> -->
<!-- 							    <label class="text-dark" style="font-weight: bold;">Sélection</label> -->
<!-- 								<input th:field="*{selection}" type="text" -->
<!-- 									class="form-control form-control-user" id="" -->
<!-- 									placeholder="Sélection"> -->
<!-- 							</div> -->

<!-- 							<div class="form-group"> -->
<!-- 							    <label class="text-dark" style="font-weight: bold;">Cote</label> -->
<!-- 								<input th:field="*{odd}" type="number" step="0.01" -->
<!-- 									class="form-control form-control-user" id="" placeholder="Cote"> -->
<!-- 							</div> -->
							
<!-- 							<div class="form-group"> -->
<!-- 							    <label class="text-dark" style="font-weight: bold;">Cote à la gagne</label> -->
<!-- 								<input th:field="*{winOdd}" type="number" step="0.01" -->
<!-- 									class="form-control form-control-user" id="" placeholder="Cote à la gagne"> -->
<!-- 							</div> -->
								
<!-- 							<div class="form-group"> -->
<!-- 							    <label class="text-dark" style="font-weight: bold;">Mise</label> -->
<!-- 								<input th:field="*{ante}" type="number" step="0.01" -->
<!-- 									class="form-control form-control-user" id="" placeholder="Mise"> -->
<!-- 							</div> -->
							
							<div class="form-group">
								<label class="text-dark" style="font-weight: bold;">Indice de confiance:</label><br> 
								<select class="form-control form-control-user" name="confidenceIndex">
									<option value="">--Choisir--</option>

									<option th:each="i : ${confidenceIndexs}" th:value="${i}"
										th:text="${i.name}"></option>
								</select>
							</div>
						
							<div class="form-group">
								<label class="text-dark" style="font-weight: bold;">Statut:</label><br> 
								<select class="form-control form-control-user" name="status">
									<option value="">--Choisir--</option>

									<option th:each="s : ${status}" th:value="${s}"
										th:text="${s.name}"></option>
								</select>
							</div>
							
							<div class="form-group">
								<label class="text-dark" style="font-weight: bold;">Inclure les paris non-joués ?</label><br> 
								<select class="form-control form-control-user" name="notPlayed">
									<option value="">--Choisir--</option>

									<option value="true"
										th:text="Oui"></option>
										
										<option value="false"
										th:text="Non"></option>
								</select>
							</div>
							
							<button type="submit" class="btn btn-primary btn-user btn-block"> 
 								Envoyer</button> 
						</form>
                     
                     </div>
                     
                     </div>
              

                                                      
                           <div th:each="entry : ${betListInfos}" >
                              <p th:text="${entry.key + ' : ' + entry.value}"></p>
                           </div>
                           
                           
                           
                           
                           
<!--                            <div class="form-group"> -->
<!-- 								<label class="text-dark" style="font-weight: bold;">Statut:</label><br>  -->
<!-- 								<select class="form-control form-control-user" required="required"> -->
<!-- 									<option value="">--Choisir--</option> -->

<!-- 									<option th:each="t : ${types}" th:value="${t}" th:text="${t.name}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
                           
              


            <div class="table-responsive">
                  <table class="table-sm table-bordered table-hover">
                    <thead style="text-align: center;">
                    <tr>
                      <th style="font-weight: bold;">Type</th>
                       <th style="font-weight: bold;">Id</th>
                      
                      <th style="font-weight: bold;">Nom</th>
                      <th style="font-weight: bold;">Date de début</th>
                      <th style="font-weight: bold;">Capital de départ</th>
<!--                       <th style="font-weight: bold;">Capital actuel</th> -->
                      <th style="font-weight: bold;">Nombre de paris </th>
<!--                       <th style="font-weight: bold;">Bénéfice</th> -->
                       <th></th>
                       <th></th>
                     </tr>
                    </thead>
<!--                         <tfoot> -->
<!-- 											<tr> -->
<!-- 												<th>Nom</th> -->
<!-- 												<th>Date de création</th> -->
<!-- 												<th>Capital de départ</th> -->
<!-- 												<th>Capital actuel</th> -->
<!-- 												<th>Nombre de paris </th> -->
<!-- 												<th>Bénéfice</th> -->
<!-- 												<th></th> -->
<!-- 												<th></th> -->
<!-- 	     										<th></th> -->
<!-- 											</tr> -->
<!-- 						</tfoot> -->
                    <tbody>
                                      <tr th:each="bankroll:${bankrollList}">
                                      
                                            <td><img th:src="@{img/horse.png}" style="text-align: center; height: 20px; width: 20px;"></td>
                                      
                                            <td class="text-dark" style="font-weight: bold;" th:text="${bankroll.id}"></td>
                                      
                                            <td class="text-dark" style="font-weight: bold; text-align: center;" th:text="${bankroll.name}"></td>

                                            <td class="text-dark" style="font-weight: bold;" th:text="${bankroll.formatStartDate}"></td>
                                            
                                            <td class="text-dark" style="font-weight: bold;" th:text="${bankroll.startAmount}"></td>
                                            
<!--                                             <td class="text-dark" style="font-weight: bold;" th:text="${bankroll.calculateCurrentAmount}"></td> -->
                                            
                                            <td class="text-dark" style="font-weight: bold;" th:text="${bankroll.betNumber}"></td>
                                            
<!--                                             <td class="text-dark" style="font-weight: bold;" th:text="${bankroll.benefit}"></td> -->
                                       
                                            <td th:if="${bankroll.isActive() == true}"> <a class="text-primary" th:href="@{'/new-bankroll-details-simulation?id='+${bankroll.id}}">Détails</a></td>
                                            <td th:if="${bankroll.isActive() == true}"> <a class="text-success" th:href="@{'/edit-bankroll/'+${bankroll.id}}">Modifier</a></td>
<!--                                             <td> <a class="text-danger" onclick="confirm('Etes vous sur de vouloir supprimer bankroll ?')" th:href="@{'/delete-bankroll/'+${bankroll.id}}">Supprimer</a></td> -->
<!--                                             <td> <a class="text-success" th:href="@{'/edit-bankroll-start-date/'+${bankroll.id}}">Modifier date de création</a></td> -->
                                            
                                       
                                       </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
                    <div th:replace="_components :: footer"></div>

    </div>
  </div>
  
  
  <!--   Core JS Files   -->
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="demo/demo.js"></script>
</body>

</html>